<div class="backdrop is_hidden" data-modal-feedback>
  <form class="form">
    <div class="title">Your feedback</div>
    <input type="text" placeholder="Your email" class="input" />
    <textarea placeholder="Your message" class="textarea"></textarea>

    <button type="submit" class="submit">Submit</button>

    <button type="button" feedback-close class="btn-close">
      <svg width="18" height="18">
        <use href="../img/sprite.svg#close"></use>
      </svg>
    </button>
  </form>
</div>
