<div class="dropdown-menu">
  <ul class="list-menu">
    <li class="item-menu">
      <a class="link-menu" href="../about-game.html">About game</a>
    </li>
    <li class="item-menu">
      <a class="link-menu" href="#">Rating</a>
    </li>
    <li class="item-menu">
      <a class="link-menu" href="../history.html">History</a>
    </li>
    <li class="item-menu">
      <a class="link-menu" href="../support-game.html">Support game</a>
    </li>
    <li class="item-menu">
      <a class="link-menu" href="#">Tip</a>
    </li>
    <li class="item-menu">
      <button type="button" class="link-menu-btn" feedback-open>
        Feedback
      </button>
    </li>
    <li class="item-menu">
      <button type="button" class="link-menu-btn" give-up-open>Give up</button>
    </li>
    <li class="item-menu">
      <a class="link-menu" href="#">Settings</a>
    </li>
  </ul>
</div>
