<div id="modal" class="modal">
  <div class="modal-content">
    <svg width="18" height="18" class="btn-close">
      <use href="../img/sprite.svg#close"></use>
    </svg>
    <h1 class="tittle-support">Details</h1>
    <p class="text-support">
      PayPal:
      <span class="text-support-span">denissuper59@gmail.com</span>
    </p>

    <p class="text-support">
      Ethereum (network: Eth Main):
      <span class="text-support-span"
        >0xC24B2Fc84DFe69fC9eF3c2B65b7994875649f6e2</span
      >
      <img src="./img/eth.jpg" alt="Ethereum wallet" width="100" />
    </p>
    <p class="text-support">
      Bitcoin (network: Bitcoin):
      <span class="text-support-span">16Zw4cipbf3Z9K4D5DFz8XHPurX6FqgxCW</span>
      <img src="./img/btc.jpg" alt="Bitcoin wallet" width="100" />
    </p>
  </div>
</div>
<script src="./scripts/support.js"></script>
