.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop.is_hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form {
  width: 300px;
  background-color: var(--section-bgc);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  position: relative;
}

.form .title {
  color: var(--primary-text-color);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.textarea {
  background-color: var(--bgc);
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  border: none;

  box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: rgba(255, 255, 255, 0.5);
}
.textarea:hover {
  box-shadow: 0 0 0 0.15vw var(--primary-text-color);
}
.textarea:focus {
  box-shadow: 0 0 0 0.15vw var(--primary-text-color);
}

.submit {
  color: #e1e1e1;

  margin-top: 8px;

  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.submit:focus,
.submit:hover {
  color: #fff;
}

.submit:focus::after,
.submit:hover::after {
  width: 100%;
  left: 0%;
}

.submit::after {
  content: '';
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  position: absolute;
  top: 12px;
  right: 12px;

  fill: #e1e1e1;
  background-color: var(--bg-main-color);
  border: none;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 0;
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--primary-text-color);
}
