.support-container {
  width: 100%;
  max-width: 402px;
  height: 450px;
  overflow: auto;
  background-color: var(--bgc);
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

/* Добавляем стилизацию скролл-полосы */
.support-container::-webkit-scrollbar {
  width: 4px;
  background-color: none; /* Прозрачный фон */
}

.support-container::-webkit-scrollbar-track {
  background-color: none; /* Прозрачный фон */
}

.support-container::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 3px;
}

.support-container::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.tittle-support {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.text-support {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
  text-align: left;
}

.text-support-span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
  text-align: left;
}

.btn-support {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-height: 40px;
  color: #ffffff;
  background-color: #fa8072;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-support:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
  border-radius: 25px;
}

.btn-support:active {
  transform: translateY(-1px);
}

/* ... */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 100%;
  max-height: 420px;
  background-color: var(--section-bgc);
  border-radius: 8px;
  padding: 20px;
  text-align: center;

  text-align: center;

  padding: 20px;

  overflow: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 24px;
  height: 24px;
  cursor: pointer;

  fill: white;

  z-index: 9999;
}
